:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 70, 36, 0.87);
  background-color: #f6efb6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color:#018501 ; 
  color: #f5f5dc;
}
button:hover {
  background-color: #fafde6;
  border:4px solid #093902;
  color: #59520e; 

  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  border: 3px solid #006400; 
  background-color: #f5f5dc;
  color: #006400; 
  border-radius: 10px; 
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}
.card-product {
  background-color: #f5f5dc;
  color: #006400; 
  border: 4px solid #006400; 
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}

.card-header {
  background-color: #023002;
  color: #cbac3d; 
  font-weight: bold;
  text-align: center;
}

.btn {
  font-weight: bold;
  border-radius: 6px;
}

.btn-primary {
  background-color: #07460d; 
  border: 2px solid #122b16; 
  color: #fced9d;}

.btn-danger {
  background-color: #5d0f07; 
  border: 2px solid #310e05; 
  color: #cebd21;
}

.btn-warning {
  background-color: #736418;
  border: 2px solid #310e05; 
  color: #e9e1a0;
}

.btn-info {
  background-color: #9ce4fa;
  border: 2px solid #736418; 
  color: #754001;
}

.btn-secondary {
  background-color: #0b14bf;
  border: 2px solid #071b2f; 
  color: #eac651;

}

.form-control {
  border-radius: 5px;
  border: 2px solid #023f02; 
  background-color: #efecd4;
  color: #726705;
  padding: auto 10px;
  width: auto;
}
::placeholder{
  margin: auto 10px;
  color: #a68c37;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
